@import url('https://fonts.googleapis.com/css?family=Raleway');

body, html {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  color: #1f1000;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #fffbf7;
}

header {
  display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 850px;
	max-width: 100%;
  height: 140px;
  border-bottom: 5px solid #2476B3;
  clear: both;
  border-radius: 8px;
  background: #ff9933;
}

.header__logo {
  height: 72px;
  width: 100px;
  vertical-align: top;
  margin: 12px 10px;
}

.header__title {
  text-transform: uppercase;
  margin-left: auto;
  text-align: right;
  padding: 0 10px 5px;
  font-size: 12px;
  color: #2476B3;
}

.image-conteiner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
	width: 850px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.image {
	width: 100%;
	height: 350px;
	margin-top: 10px;
  padding-bottom: 10px;
	max-width: 100%;
	line-height: 120px;
  border-radius: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 350px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2476B3;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.image-conteiner:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 33%;
  -webkit-transform: translate(-25%, -50%);
  -ms-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
  text-align: center;
}

.description {
  width: 850px;
  max-width: 100%;
  font-size: 1em;
}

.conteiner {
  display: flex;
	width: 850px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.box_project {
  margin: 15px;
  width: 30%;
  display: inline-flex;
  flex-wrap: wrap;
  flex: 1;
}

.box_project img {
  height: 200px;
  width: 100%;
  overflow: visible;
  border-radius: 8px;
}

.project_1_header, .project_2_header, .project_3_header {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  color: #1f1000;
}

.center {
	margin-left: auto;
  margin-right: auto;
}

footer {
	max-width: 100%;
  position: relative;
  font-size: 1em;
}

.footer_conteiner {
  display: flex;
	width: 850px;
  max-width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer_container div {
	height: 200px;
}

.column {
  width: 30%;
  display: inline-block;
  flex-wrap: wrap;
  flex: 1;
  font-size: 12px;
  text-align: center;
  background: #ff9933;
}

#column-left {
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
}

#column-right {
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
}

footer img {
  width: 35px;
  height: 35px;
}
